@font-face {
  font-family: 'Roboto-Thin';
  src: url('fonts/Roboto-Thin-webfont.eot'); /* IE 5-8 */
  src: local('☺'), /* IE */
    url('fonts/Roboto-Thin-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('fonts/Roboto-Thin.ttf') format('truetype'), /* Opera, Safari */
    url('fonts/Roboto-Thin-webfont.svg#font') format('svg'); /* iOS */
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light-webfont.eot'); /* IE 5-8 */
  src: local('☺'), /* IE */
    url('fonts/Roboto-Light-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('fonts/Roboto-Light.ttf') format('truetype'), /* Opera, Safari */
    url('fonts/Roboto-Light-webfont.svg#font') format('svg'); /* iOS */
}

@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url('fonts/RobotoSlab-Thin-webfont.eot'); /* IE 5-8 */
  src: local('☺'), /* IE */
    url('fonts/RobotoSlab-Thin-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('fonts/RobotoSlab-Thin-webfont.ttf') format('truetype'), /* Opera, Safari */
    url('fonts/RobotoSlab-Thin-webfont.svg#font') format('svg'); /* iOS */
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/Roboto-Medium-webfont.eot'); /* IE 5-8 */
  src: local('☺'), /* IE */
    url('fonts/Roboto-Medium-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('fonts/Roboto-Medium.ttf') format('truetype'), /* Opera, Safari */
    url('fonts/Roboto-Medium-webfont.svg#font') format('svg'); /* iOS */
}

@font-face {
  font-family: 'Denne-Sketchy';
  src: url('fonts/denne-sketchy-webfont.eot'); /* IE 5-8 */
  src: local('☺'), /* IE */
    url('fonts/denne-sketchy-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('fonts/denne-sketchy-webfont.ttf') format('truetype'), /* Opera, Safari */
    url('fonts/denne-sketchy-webfont.svg#font') format('svg'); /* iOS */
}
