@import "variables.scss";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, iframe {
  display: block;
  vertical-align: bottom;
  max-width: 100%;
}

li {
  list-style: none;
}

.browsehappy {
  margin: 0;
  padding: 0;
  background: $color-grey;
  color: $color-black;
}

.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
  margin: 0px;
  padding: 0px;
}
