header {
  height: 140px;
  background: url(../img/logo.png) no-repeat 55px 20px transparent;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
}

section {
  height: 662px;
  background: url() no-repeat center center #000;
  background-size: cover;
}

.row {
  margin-bottom: 0px;
}
