$color-black: #000000;
$color-white: #FFFFFF;
$color-grey-light: #F6F6F6;
$color-grey: #CCCCCC;
$color-grey-dark: #898989;
$color-grey-darker: #A3A3A3;
$color-brand-main: #448AFF;

$transparent-black: rgba(0, 0, 0, .8);

$fontsize-md: 25px;
$fontsize-md-lg: 30px;
$fontsize-lg: 63px;
$fontsize-xl: 84px;

$pad-xxs: 5px;
$pad-xs: 10px;
$pad-sm: 20px;
$pad-md: 35px;
$pad-lg: 40px;

$breakpoint-sm: 599px;
$breakpoint-md: 768px;
$breakpoint-lg: 1144px;
